.form {
    color: $primary-text-colour;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-l;
    margin-left: $spacing-m;
    margin-right: $spacing-m;
}

.form__searchbox {
    font-size: $body-small;
    padding: $spacing-xs;
}
.form__submit{
    padding: $spacing-xs;
    margin-left: $spacing-xxs;
}
.form__submit:hover {
    background-color: $hover-colour;
}

.form__searchbox,
.form__submit {
    cursor: pointer;
}
