.form {
    color: $primary-text-colour;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-xl;
    margin-left: $spacing-m;
    margin-right: $spacing-m;
}

.form__searchbox {
    font-size: $body-small;
    padding: $spacing-xs;
}

.form__submit {
    margin-left: $spacing-s;
    padding: $spacing-xs;
}

.form__submit:hover {
    background-color: $button-hover-color;
}

.form__searchbox,
.form__submit {
    cursor: pointer;
}
