@import 'src/index';

.app_header{
    display: flex;
    flex-direction: column;
    margin: $spacing-l;
}

.app_header-title{
    display: flex;
    justify-content: center;
    color: $primary-text-colour;
    font-size: $h1;
}
